<launch>
	<!-- <node name="plotter1" pkg="rqt_plot" type="rqt_plot" args="/cmd_vel/linear/x /cmd_vel/linear/y /cmd_vel/angular/z" /> -->
	<node name="plotter1" pkg="rqt_plot" type="rqt_plot" args="/odom/pose/pose/position/x  /odom_desired/pose/pose/position/x " /> 
	<node name="plotter2" pkg="rqt_plot" type="rqt_plot" args="/odom/pose/pose/position/y  /odom_desired/pose/pose/position/y " /> 
</launch>
